.container {
    display: flex;
    flex-direction:row;
    cursor: pointer; 
    border-left: solid #2196F3;
    border-width: 0 6px;
    height: 80px;
    vertical-align: middle;
    width: 100%;
    padding: 10px;
}

.containing {
    display: flex;
    width:  100%;
    flex-direction:row;
    cursor: pointer; 
    padding: 5px;
    vertical-align:middle;
}