.container {
    display: flex;
    flex-direction:row;
    cursor: pointer; 
    border-left: solid #2196F3;
    border-width: 0 6px;
    padding: 5px;
    vertical-align:middle;
}

.containing {
    display: flex;
    flex-direction:row;
    cursor: pointer; 
    // border-left: solid #2196F3;
    // border-width: 0 6px;
    padding: 5px;
    vertical-align:middle;
}