<div class="container" [ngStyle]="index%2?{'background-color': '#2196f39c'} : {'background-color': '#2196F3'}">
    <p style="flex: 3;">{{task.Description}}</p>
    <p style="flex: 1;">{{task.DateCreated | date}}</p>
    <p style="flex: 1;">{{task.IsDone?"yes": "no"}}</p>
    <button class="trans_button " (click)="SetResetTask()" [ngStyle]="{'color': task.IsDone? 'green' : 'red'}" ><i class="bi bi-check-circle"></i></button>
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete()">Delete</button>
</div> 